<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/products">IFound</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ADMIN
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/users">Quản lý tài khoản</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/products">Quản lý sản phẩm</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/categories">Quản lý loại sản phẩm</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/orders">Quản lý đơn hàng</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/statistical">Thống kê</a>
            </div>
        </div>
    </div>
</nav>

<h1 class="mt-4 ml-4 mb-4">Quản lý đơn hàng</h1>

<table class="table table-light mt-2">
    <thead>
        <tr> 
            <th scope="col">#</th>
            <th scope="col">Khách hàng</th>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Phương thức thanh toán</th>
            <th scope="col">Tổng giá</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Action</td>
        </tr>
    </thead>
    <tbody>
       {{#each orders}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{this.user_id.name}} - {{this.user_id.email}}</td>
          <td>
            {{#each this.product}}
              <div>
                <span class="mr-2">{{this.product_id.name}}</span>
                <img src="{{this.product_id.image}}" alt="" width="50" height="50" class="mt-2 mr-2">
                <span>{{this.product_id.price}} x {{this.quantity}}</span>
              </div>
            {{/each}}
          </td>
          <td>{{this.pay_method_id.name}}</td>
          <td>{{this.total_price}}</td>
          <td>{{this.status}}</td>
          <td>
            <a href="/{{this._id}}" data-id="{{this._id}}" data-toggle="modal" data-target="#deleteModel" class="btn btn-link">Xóa</a>
            <a href="/orders/{{this._id}}/edit" class="btn btn-link">Cập nhật</a>
          </td>
          {{else}}
          <td>Chưa có đơn hàng</td>
        </tr>
       {{/each}}
    </tbody>
</table>

<div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xóa sản phẩm này không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="btn-delete" type="button" class="btn btn-danger">Xóa</button>
      </div>
    </div>
  </div>
</div>

<form name="form-delete" method="POST"></form>

<script>
    document.addEventListener("DOMContentLoaded", function() {

        var orderId;
        var btnDelete = document.getElementById("btn-delete");
        var formDelete = document.forms['form-delete'];

        $('#deleteModel').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            orderId = button.data('id') // Extract info from data-* attributes
        })

        btnDelete.onclick = function (event) {
            formDelete.action = '/orders/' + orderId + '?_method=DELETE';
            formDelete.submit();
        }

    })
</script>